aiohttp==3.9.5
attrs==23.2.0
blinker==1.6.2
brotli-python==1.0.9
click==8.1.7
distro==1.9.0
Flask==3.0.3
flask-login==0.6.3
frozenlist==1.4.1
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.3
multidict==6.0.5
openai==0.28.0
packaging==23.2
pydantic==2.5.3
pydantic-core==2.14.6
pysocks==1.7.1
requests==2.32.2
sniffio==1.3.0
tqdm==4.66.4
typing-extensions==4.11.0
urllib3==2.2.2
Werkzeug==3.0.3
yarl==1.9.4
