@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
  }
  *,
  *:after,
  *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body {
    background: #fefefe;
    color: #fefefe;
    font-family: 'Lato';
    font-size: 14px;
    padding: 10px;
    position: relative;
  }
  .button-default {
    -webkit-transition: 0.25s ease-out 0.1s color;
    -moz-transition: 0.25s ease-out 0.1s color;
    -o-transition: 0.25s ease-out 0.1s color;
    transition: 0.25s ease-out 0.1s color;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    position: relative;
  }
  .show-notifications {
    position: relative;
  }
  .show-notifications:hover #icon-bell,
  .show-notifications:focus #icon-bell,
  .show-notifications.active #icon-bell {
    fill: #34495e;
  }
  .show-notifications #icon-bell {
    fill: #7f8c8d;
  }
  .show-notifications .notifications-count {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #3498db;
    color: #fefefe;
    font: normal 0.85em 'Lato';
    height: 16px;
    line-height: 1.75em;
    position: absolute;
    right: 2px;
    text-align: center;
    top: -2px;
    width: 16px;
  }
  .show-notifications.active ~ .notifications {
    opacity: 1;
    top: 60px;
  }
  .notifications {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: 0.25s ease-out 0.1s opacity;
    -moz-transition: 0.25s ease-out 0.1s opacity;
    -o-transition: 0.25s ease-out 0.1s opacity;
    transition: 0.25s ease-out 0.1s opacity;
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    right: 10px;
    opacity: 0;
    position: absolute;
    top: -999px;
  }
  .notifications:after {
    border: 10px solid transparent;
    border-bottom-color: #3498db;
    content: '';
    display: block;
    height: 0;
    right: 10px;
    position: absolute;
    top: -20px;
    width: 0;
  }
  .notifications h3,
  .notifications .show-all {
    background: #3498db;
    color: #fefefe;
    margin: 0;
    padding: 10px;
    width: 350px;
  }
  .notifications h3 {
    cursor: default;
    font-size: 1.05em;
    font-weight: normal;
  }
  .notifications .show-all {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  .notifications .show-all:hover,
  .notifications .show-all:focus {
    text-decoration: underline;
  }
  .notifications .notifications-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  .notifications .notifications-list .item {
    -webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
    -moz-transition: -moz-transform 0.25s ease-out 0.1s;
    -o-transition: -o-transform 0.25s ease-out 0.1s;
    transition: transform 0.25s ease-out 0.1s;
    border-top: 1px solid #434648;
    color: #7f8c8d;
    cursor: default;
    display: block;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    width: 350px;
  }
  .notifications .notifications-list .item:before,
  .notifications .notifications-list .item .details,
  .notifications .notifications-list .item .button-dismiss {
    display: inline-block;
    vertical-align: middle;
  }
  .notifications .notifications-list .item:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #3498db;
    content: '';
    height: 8px;
    width: 8px;
  }
  .notifications .notifications-list .item .details {
    margin-left: 10px;
    white-space: normal;
    width: 280px;
  }
  .notifications .notifications-list .item .details .Title,
  .notifications .notifications-list .item .details .date {
    display: block;
  }
  .notifications .notifications-list .item .details .Title,
  .notifications .notifications-list .item .details .date {
    color: #333437;
    font-size: 1em;
    margin-top: 3px;
  }
  .notifications .notifications-list .item .button-dismiss {
    color: #bdc3c7;
    font-size: 2.25em;
  }
  .notifications .notifications-list .item .button-dismiss:hover,
  .notifications .notifications-list .item .button-dismiss:focus {
    color: #95a5a6;
  }
  .notifications .notifications-list .item.no-data {
    display: none;
    text-align: center;
  }
  .notifications .notifications-list .item.no-data:before {
    display: none;
  }
  .notifications .notifications-list .item.expired {
    color: #bdc3c7;
  }
  .notifications .notifications-list .item.expired:before {
    background: #bdc3c7;
  }
  .notifications .notifications-list .item.expired .details .date {
    color: #bdc3c7;
  }
  .notifications .notifications-list .item.dismissed {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .notifications.empty .notifications-list .no-data {
    display: block;
    padding: 10px;
  }
  /* variables */
  /* mixins */