<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>jQuery拖拽文件上传插件 www.bootstrapmb.com</title>
    <link rel="stylesheet" href="../static/css/style-pdf.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <p>拖拽文件或者点击这个区域.</p>
        <button type="submit">上传</button>
    </form>
    <!-- partial -->
    <script src='../static/js/jquery.min.js'></script>
    <script src="../static/js/script-pdf.js"></script>

</body>

</html>